<div class="container">
  <h1 class="my-5">{{ title }}</h1>

  <form>
    Numero 1:
    <input type="number" [(ngModel)]="numero1" name="numero 1" /><br /><br />

    Numero 2:
    <input type="number" [(ngModel)]="numero2" name="numero 2" /><br /><br />

    <input
      type="submit"
      value="Sumar"
      (click)="sumar()"
      class="btn btn-primary mx-5"
    />

    <input
      type="submit"
      value="Restar"
      (click)="restar()"
      class="btn btn-primary"
    />
    <br /><br />
    <input
      type="submit"
      value="Multiplicar"
      (click)="multiplicar()"
      class="btn btn-primary mx-5"
    />
    <input
      type="submit"
      value="Dividir"
      (click)="dividir()"
      class="btn btn-primary"
    />
  </form>

  <p class="my-3">Resultado: {{ resultado }}</p>
</div>
